<div class="ui container" style="margin-top: 3rem;">
    <div class="ui raised segment">
        <<ng-container *ngIf="!isEdit">
            <div class="ui top attached label">Dodaj Novi Zavod</div>
        </ng-container>
        <<ng-container *ngIf="isEdit">
            <div class="ui top attached label">Izmijeni Podatke Zavoda</div>
        </ng-container>
        <div class="ui five column grid">
            <div class="column">
                <button class="ui primary button" (click)="reload()">Ponovno ucitaj</button>
            </div>
        </div>
        <div class="ui form" style="margin-top: 1rem;">
            <form action="#">
                <div class="field">
                    <label for="naziv">Naziv: </label>
                    <input type="text" id="naziv" name="naziv" placeholder="Upisi Naziv Zavoda" 
                            [(ngModel)]="item.data.naziv">
                </div>
                <div class="field">
                    <label for="sifra">Sifra: </label>
                    <input type="text" id="sifra" name="sifra" placeholder="Upisi Sifru Zavoda" 
                            [(ngModel)]="item.data.sif_zavod">
                </div>
                <button class="ui button" (click)="saveForm()">Spremi</button>
                <button class="ui button" (click)="saveForm(); return();">Spremi i vrati se natrag</button>
            </form>
        </div>
        <ng-container *ngIf="errMsg">
            <p class="ui warning message">{{errMsg}}</p>
        </ng-container>
        <ng-container *ngIf="saved">
            <p class="ui success message">Podatci uspjesno spremljeni!</p>
        </ng-container>
    </div>
</div>
