<div class="ui left vertical inverted visible sidebar labeled icon menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="wallet icon"></i>
    Transactions
  </a>
  <a class="item">
    <i class="warehouse icon"></i>
    Departments
  </a>
  <a class="item">
    <i class="tasks icon"></i>
   Tasks
  </a>
</div>
<div class="space-above">
  <button class="ui right attached icon button" (click)="toggleSidebar()">
    Menu
    <i class="large arrow alternate circle right outline icon open-sidebar"></i>
  </button>
</div>
