<div id="sidebar" class="ui left vertical inverted sidebar labeled icon menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="wallet icon"></i>
      Transakcije
    </a>
    <a class="item">
      <i class="warehouse icon"></i>
      Zavodi
    </a>
    <a class="item">
      <i class="tasks icon"></i>
     Zadaci
    </a>
    <a class="item">
      <i class="male icon"></i>
     Osobe
    </a>
    <a class="item">
      <i class="user graduate icon"></i>
     Zaposlenici
    </a>
    <a class="item">
      <i class="user tie icon"></i>
     Klijenti
    </a>
    <a class="item">
      <i class="globe europe icon"></i>
      Mjesta
    </a>
  </div>
  <div class="space-above" style="margin-top: 3rem;">
    <div class="ui animated black button" tabindex="0" (click)="toggleSidebar()">
      <div class="visible content">
        <i class="bars icon"></i>
      </div>
      <div class="hidden content">Menu</div>

    </div>
    <!--
    <button class="ui right attached icon button" (click)="toggleSidebar()">
      Menu
      <i class="large arrow alternate circle right outline icon open-sidebar"></i>
    </button>
    -->
  </div>
  
