<div class="ui container">
    <div class="ui raised segment">
        <a class="ui red ribbon label">Zavodi</a>
        <div id="my-zavodi-grid" class="ui six column grid">
            <div class="row">
                <div class="column">
                    <button class="ui primary button" routerLink="{{newFormRoute}}">Dodaj novi Zavod</button>
                </div>
                <div class="column">
                    <button class="ui primary button">Osvjezi</button>
                </div>
            </div>
        </div>
        <app-zavodi-table #zavodi></app-zavodi-table>
    </div>
</div>



