<table class="ui fixed stripped table" style="margin-top: 1rem;">
    <thead>
        <tr>
            <th>
                <app-sorter title="Ime" field="ime" 
                            [init]="true" [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th>
                <app-sorter title="Prezime" field="prezime" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th>
                <app-sorter title="Adresa" field="adresa" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th>
                <app-sorter title="Postanski Broj" field="pbr" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th>
                <app-sorter title="Datum rodjenja" field="datum_rod" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="items">
            <tr *ngFor="let item of items">
                <td><a [routerLink]="[editFormRoute, item.id]">{{item.child.ime}}</a></td>
                <td>{{item.child.prezime}}</td>
                <td>{{item.child.adresa}}</td>
                <td>{{item.child.pbr}}</td>
                <td>{{item.datum_rod | myDate}}</td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">
                <app-pager [pager]="pager" (event)="getNextPage($event)"></app-pager>
            </th>
        </tr>
    </tfoot>
</table>
<ng-container *ngIf="errMsg">
    <p class='ui warning message'>{{errMsg}}</p>
</ng-container>

