<table class="ui fixed green celled table" style="margin-top: 1rem;">
    <thead>
        <tr>
            <th>
                <app-sorter title="Postanski Broj" field="pbr" 
                            [init]="true" [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th><app-sorter title="Naziv" field="naziv" 
                            [sorter]="sorter"
                            (event)="sort($event)"></app-sorter></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.pbr}}</td>
            <td>{{item.naziv}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">
                <app-pager [pager]="pager" (event)="getNextPage($event)"></app-pager>
            </th>
        </tr>
    </tfoot>
</table>
