<table class="ui celled table" style="margin-top:  1rem;">
    <thead>
        <tr>
            <th class="six wide">
                <app-sorter title="Ime" field="ime" 
                    [init]="true" [sorter]="sorter"
                    (event)="sort($event)">
                </app-sorter>
        </th>
            <th class="six wide">
                <app-sorter title="Prezime" field="prezime" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
            <th class="four wide">
                <app-sorter title="Sifra zavoda" field="sif_zavod" 
                            [sorter]="sorter"
                            (event)="sort($event)">
                </app-sorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="items">
            <tr *ngFor="let item of items">
                <td>{{ item.child.ime }}</td>
                <td>{{ item.child.prezime }}</td>
                <td>{{item.data.sif_zavod}}</td>
            </tr>
        </ng-container>
    </tbody>
    <ng-container *ngIf="!items">
        <p class="ui warning message">{{errMsg}}</p>
    </ng-container>
</table>
